.App {
  text-align: center;
}
h1{
  font-size: 35px;
  color:white;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #27282e;
    padding:0;
    margin: 0;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857143;
  }


